body{
    background-color: black;
    color: white;
    font-family:sans-serif;

}
.navigation{
    /* float: left;
    display: inline-block; */
    /* padding: 2%; */
    top: 0%;
    height: 60px;
    width: 95%;
    /* border: 1px solid red; */
    position: fixed;
    background-color: black;
    margin-top: 0;
    /* display: inline-block; */
    
}
.navigation li{
    display: inline-block;
    /* float: left; */
    margin-right: 2%;
    font-size: large;
    /* font-weight: light; */
}
.navigation a{
    text-decoration: none;
    color: white;
}
.navigation a:hover{
    color: #ffffff7e;
    text-decoration: underline;
}
.navigation ul{
    /* float: right; */
    margin-top: -2%;
    font-weight: lighter;
}
.wristnav{
    font-weight:bolder;
    /* margin-right:00%: ; */
    /* float: left; */
    margin-left: -2%;
    /* font-size: 50%; */
    /* text-decoration: none; */
    font-family:'Times New Roman', Times, serif;

}
.circle{
    height: 200%;
    width: 200%;
}
.smart{
    margin-top: 5%;
    height: 140px;
    width: 100%;
    text-align: center;
    /* border: 1px solId red; */
    /* position:absolute; */
}
.smart h2{
    color: rgb(81, 236, 8);
    font-size:  200%;
    margin-bottom: -2%;
    /* position: absolute; */
    /* margin-top: 10%; */
}
.smart h1{
    font-weight: bolder;
    font-size: 330%;
    letter-spacing: 10px;
    font-family:'Times New Roman', Times, serif;
}
.band{
    /* height: 500px; */
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
.battery{
    height: 450px;
    width: 50%;
    float: right;
    /* border: 1px solid red; */
    margin-right:3%;
}
.battery h1{
    font-size:300%;
}
.battery p{
    font-size: large;
}
.upto{
    width:40%;
    height: 130px;
    /* border: 1px solid red; */
    line-height: 50%;
    margin-top: 10%;
    margin-left: 5%;
    float: left;
}
.upto h1{
    color: rgb(81, 236, 8);
}
.health{
    text-align: center;
    font-size: 150%;
    margin-top: -2%;
}
.powerful{
    width: 30%;
    height: 400px;
    float: left;
    /* border: 1px solid red; */
    margin-left: 3%;
    line-height: 180%;
    /* box-shadow: 0 0 10px 10px black inset; */
}
.powerpadding{
    padding-left: 10%;
    /* border: 1px solid gray; */
    /* background-image: radial-gradient(grey,black); */
    /* border-radius: 30%; */
}
.get{
    background-image: url(./IMG/watch4.webp);
    width: 100%;
    height: 350px;
    background-size:100% 100% ;
    display: flex;
    margin-top: 35%;
    box-shadow: 0 0 30px 30px black inset;
}
.getclr{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 5%;
}
.getclr h1{
    font-size: 300%;
}
.getclr p{
    font-size: larger;
    margin-top: 0%
}
.getclr button {
    background-color: rgb(81, 236, 8);
    color: black;
    height: 50px;
    width: 15%;
    font-weight: bolder;
    font-size: large;
    /* border: 2px solid rgb(81, 236, 8); */
    /* text-decoration: none; */
    border-color:  rgb(81, 236, 8);
}
footer{
    /* height: 50px;
    width: 100%;
    border-top: 1px solid grey;
    margin-top: 2%; */
    border-top:1px solid white ;
}
.footer1{
    width: 40%;
    height: 200px;
    /* padding: 2%; */
    /* border: 1px solid red; */
    float: left;
    display: block;
    margin-top: 2%;
    color: white;
    padding-left: 4%;
    /* z-index: 1; */
    margin-left: 4%;
}
.footer2{
    width: 80%;
    height: 175px;
    /* border: 1px solid red; */
    margin-top: -38%;
    padding-left: 13%;
    padding-top: 5%;
    font-size: larger;
    line-height:190%;
    /* letter-spacing: 2px; */
}
.getclr a{
    text-decoration: none;
    color: black;
}